
@{
    ViewBag.Title = "Index";
}

<br />
<div class="form-group">
    <form action="/Employee/Create" method="post">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" />
        <label for="StartDate">StartDate</label>
        <input type="datetime-local" class="form-control" name="StartDate" />
        <label for="TypeEmp">TypeEmp(FullTime/PartTime)</label>
        <input type="text" class="form-control" name="TypeEmp"/>
        <label for="Salary">Salary</label>
        <input type="number" class="form-control" name="Salary" min="0" value="0"/>
        <label for="HourlyRate">HourlyRate</label>
        <input type="number" class="form-control" name="HourlyRate" min="0" value="0"/>
        <br />
        <input type="submit" class="btn btn-default" value="Enviar datos del empleado" />
    </form>
</div>